name: HexoDeploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04-lys
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 'lts/12.18.1'

      - name: Setup Hexo
        env:
          ACTION_DEPLOY_KEY: ${{ secrets.HEXO_DEPLOY_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$ACTION_DEPLOY_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.email "john@doe.com"
          git config --global user.name "John Doe"
          npm install hexo-cli -g
          npm install hexo -g
          npm install

      - name: Deploy
        run: |
          hexo clean
          hexo deploy